{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}

<!-- Homepage Feature -->
{{widget('feature', 'featurehome', {
	"header": "profile",
	"defaultBgImg": asset('images/feature-bg.jpg'),
	'positionTopPercentage': '0',
	'showBtn': true,
	buttonText: "Lorem Ipsum"
})|raw}}
<!-- End Homepage Feature -->

<!-- Homepage Gallery -->
<section class="homepage-gallery">
    {{widget('gallery', 'gallery1',
    {'albumRef':0,
    'showDescription': true,
    'showTitle': true,
    'images':
    [
    {'imageHeight':'246', 'imageWidth':'246', 'url':asset('images/gallery/1.jpg'), 'title':'Excepteur sint',  'description': 'Lorem ipsum dolor sit amet'},
    {'imageHeight':'246', 'imageWidth':'246', 'url':asset('images/gallery/2.jpg'), 'title':'Duis aute',  'description': 'Dolore magna aliqua'},
    {'imageHeight':'246', 'imageWidth':'246', 'url':asset('images/gallery/3.jpg'), 'title':'Incididunt ut labore',  'description': 'Culpa qui officia deserunt'},
    ]
    })|raw}}
</section>
<!-- End Homepage Gallery -->



	<!-- Page Content -->
	<section class="template-content container">

		<!-- Main Widet Zone -->
	   	{{zone('main')|raw}}

	</section>
	<!-- End Page Content -->

{% include "includes/footer.twig" %}

{% endblock %}
